<!DOCTYPE html>
<html lang="en">
<head>
	<title> Hospital Management</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
        {{messages[0]}}
    {% endif %}
    {% endwith %}
	<form action="/login" method="POST">
		<p>Username</p>
		<input class="input100" type="text" name="username" >
		<p>Password</p>
		<input class="input100" type="password" name="password" >
		<br>
		<input type="checkbox">
		Remember me 
		<br>
		<button class="login100-form-btn">Login</button>
	</form>


</body>
</html>

