{% extends 'base.html' %}

{% block head %}
<title>All Medicines</title>
{% endblock %}

{% block body %}
<br>
<div>
    <h1 style="display:inline">All Medicines</h1>
    <a style="display:inline" class="btn btn-success float-right" href="/add_medicine" >+ New Medicine</a>
</div>
    <div class="row align-items-center justify-content-around mx-0">
        <div id="table" class="col-lg-12  px-4 py-4  order-1 order-lg-2">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Medicine Name</th>
                        <th scope="col">Medicine Quantity</th>
                        <th scope="col">Medicine Rate</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for medicine in medicines %}
                        <tr>
                            <td>{{medicine.mname}}</td>
                            <td>{{medicine.quantity}}</td>
                            <td>{{medicine.Rate}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
        </div>
    </div>
{% endblock %}
