{% extends 'base.html' %}

{% block head %}
<title>Patients</title> 
{% endblock %}

{% block body %}
<br>
<div>
    <h1 style="display:inline">All Patients</h1>
    <a style="display:inline" class="btn btn-success float-right" href="/create" >+ New Patient</a>
</div>
    <div class="row align-items-center justify-content-around mx-0">
        <div id="table" class="col-lg-12  px-4 py-4  order-1 order-lg-2">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Patient Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Address</th>
                        <th scope="col">DOJ</th>
                        <th scope="col">Type of Room</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients %}
                        {% if patient.status == "Active" %}
                        <tr>
                            <td>{{patient.ssnId}}</td>
                            <td>{{patient.name}}</td>
                            <td>{{patient.age}}</td>
                            <td>{{patient.address}}, {{patient.city}}, {{patient.state}}</td>
                            <td>{{patient.admissionDate}}</td>
                            <td>{{patient.bedType}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                  </table>
        </div>
    </div>
{% endblock %}