{% extends 'base.html' %}
{% block body %}
    {% if (patients) %}
    <br>
    <h1>Patient Information</h1>
    <br>
    <h5>Enter Patient's SSNID</h5>
    <form action="/pharmacist" method='POST'>
        <select name="ssnId"  class="selectpicker" data-live-search="true" data-size="5" data-width="80%" title="Search patient">
            {% for patient in patients %}
            <option value="{{patient.ssnId}}">{{patient.ssnId}},{{patient.name}}</option>
            {% endfor %}
        </select>
        <br>
        <input  class="btn btn-primary mt-4" type="submit" value="Search" />
        <!-- <a class="btn btn-success" href="/add_medicine">Add Medicine</a> -->
        {% if (patient) %}
        <div class="row align-items-center justify-content-around mx-0">
            <div id="table" class="col-lg-12  px-4 py-4  order-1 order-lg-2">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Patient Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Address</th>
                            <th scope="col">DOJ</th>
                            <th scope="col">Type of Room</th>
                          </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>{{patient.ssnId}}</td>
                                <td>{{patient.name}}</td>
                                <td>{{patient.age}}</td>
                                <td>{{patient.address}}, {{patient.city}}, {{patient.state}}</td>
                                <td>{{patient.admissionDate}}</td>
                                <td>{{patient.bedType}}</td>
                            </tr>

                        </tbody>
                      </table><br/>
                      <div class="row align-items-center justify-content-around mx-0">
                          <h4>Medicines Issued</h4>
                          <div id="table" class="col-lg-12  px-4 py-4  order-1 order-lg-2">
                                  <table class="table">
                                      <thead class="thead-dark">
                                        <tr>
                                          <th scope="col">Medicine_name</th>
                                          <th scope="col">Medicine_quantity</th>
                                          <th scope="col">Medicine_rate</th>
                                          <th scope="col">Medicine_amount</th>

                                        </tr>
                                      </thead>
                                      <tbody>
                                          {% for m,j in medicine %}
                                          <tr>
                                              <td>{{j[0].mname}}</td>
                                              <td>{{m.quant}}</td>
                                              <td>{{j[0].Rate}}</td>
                                              <td>{{m.amount}}</td>

                                          </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                              {% if not newMed%}
                              <a class="btn btn-success align-centre" href="/issuemedicine/{{ssn}}">Issue Medicine</a>
                           {% endif %}
                          </div>
                          {% if newMed %}
                          <div id="table" class="col-lg-12  px-4 py-4  order-1 order-lg-2">
                                  <table class="table">
                                      <thead class="thead-dark">
                                        <tr>
                                          <th scope="col">Medicine_name</th>
                                          <th scope="col">Medicine_quantity</th>
                                          <th scope="col">Medicine_rate</th>
                                          <th scope="col">Medicine_amount</th>
                                          <th scope="col"><a class="btn btn-danger"  href="/issuemedicine/{{ssn}}">Add</a></th>

                                        </tr>
                                      </thead>
                                      <tbody>
                                          {% for med in newMed %}
                                          <tr>
                                              <td>{{med['name']}}</td>
                                              <td>{{med['quant']}}</td>
                                              <td>{{med['rate']}}</td>
                                              <td>{{med['amount']}}</td>

                                          </tr>
                                          {% endfor %}
                                      </tbody>
                                  </table>
                          <a class="btn btn-success" href="/updatelist/{{ssn}}">Update</a>
                          {% endif %}
                          </div>

            </div>
        </div>
        {% endif %}
    </form>
    {% else %}
      <h4>No patient in your Hospital.</h4>
      <a class="btn btn-success" href="/add_medicine">Add Medicine</a>
    {% endif %}
    <br>


{% endblock %}
