{% extends 'base.html' %}

{% block head %}

<title>Home</title>
{% endblock %}

{% block body %}
<br>
    
    <!--<br>
    <h1>Home Page</h1>
    <br>
    <form action="/search" method="post">
        <input class="form-control" type="text" name='ssnId' id='ssnId' placeholder="Enter SSN Id">
        <br>
        <input type='submit' value='Search'>
    </form>-->
    {% if(patients) %}
    <br>
    <h5>Enter Patient's SSNID</h5>
    <form action="/search" method='POST'>
        <select name="ssnId"  class="selectpicker" data-live-search="true" data-size="5" data-width="80%" title="Search patient">
            {% for patient in patients %}
            <option value="{{patient.ssnId}}">{{patient.ssnId}}</option>
            {% endfor %}
        </select>
        <br>
        <input  class="btn btn-light mt-4" type="submit" value="Search" />
    </form>
    <br>
    <!--
    <a class="btn btn-success" href="/create">Create Patient</a>
    <a class="btn btn-primary" href="/patients">view all patients</a>-->
    {% else %}
    <p class="display-4">No active patients</p>
    <a class="btn btn-success" href="/create">Create Patient</a>
    {% endif %}

{% endblock %}