{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title> 
{% endblock %}

{% block body %}
<div class="container">
<h1>Edit Patient Details</h1>
    <hr>
    <form action='/update/{{patient.id}}' method='POST'>
        <label for="ssnId">Patient SSN Id:</label>
        <input class="form-control" type="text" name='ssnId' id='ssnId' value="{{patient.ssnId}}">
        <br>
        <label for="name">Patient Name:</label>
        <input class="form-control" type="text" name='name' id='name' value="{{patient.name}}">
        <br>
        <label for="age">Patient Age:</label>
        <input class="form-control" type="number" name='age' id='age' value="{{patient.age}}">
        <br>
        <label for="admissionDate">Date of Admission:</label>
        <input class="form-control" type="text" name='admissionDate' id='admissionDate' value="{{patient.admissionDate}}">
        <br>
        <label for="bedType">Type of Bed:</label>
        <select class="form-control" id="bedType" name="bedType">
            <option value="General Ward">General Ward</option>
            <option value="Semi Sharing">Semi Sharing</option>
            <option value="Single Room">Single room</option>
        </select>
        <br>
        <label for="address">Address:</label>
        <input class="form-control" type="text" name='address' id='address' value="{{patient.address}}">
        <br>
        <label for="city">City:</label>
        <input class="form-control" type="text" name='city' id='city' value="{{patient.city}}">
        <br>
        <label for="state">State:</label>
        <input class="form-control" type="text" name='state' id='state' value="{{patient.state}}">
        <br>
        <input type='submit' value='Submit'>
    </form>
</div>
{% endblock %}